/* Tamaño de letra de la barra de navegacion */
.navbar-nav li.nav-item {
    font-size: 23px; 
}

#botonNav{
  font-family: monospace;
  background-color: #00f2fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .2s;
}

#botonNav:hover {
  background-color: #3b82f6;
  box-shadow: 5px 5px 5px 5px #000000;
  color: #000000;
}
